/* FONT */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li,menu{
  list-style: none;
}

/* LAYOUT */
.container{
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

/* STYLE HEADER */
.page-header{
  text-align: center;
}

/* STYLE CARD */
.card-header{
  padding: 20px 0;
}

.card-body{
  padding: 20px 0;
  line-height: 25px;
}

.todo-item{
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

/* UTILITY */
.tick{
  text-decoration: line-through;
}