/* FONT */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li,menu{
  list-style: none;
}

/* LAYOUT */
.container{
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

/* STYLE HEADER */
.card{
  width: 100%;
}

.page-header{
  text-align: center;
  background-color: #293133;
  color: #d6cecc;
  padding: 25px 0;
}

/* STYLE CARD */
.card-header{
  background-color: #293133;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  & input{
    width: calc(100% - 120px);
    outline: none;
    padding: 0 10px;
  }

  & button, input{
    border-radius: 999px;
    height: 25px;
    border: none;
  }

  & button{
    width: 100px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.card-body{
  /* padding: 20px 0; */
  line-height: 25px;
  background-color: #d6cecc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card-body, .card-header{
  padding: 20px 25px;
  /* border-radius: 10px; */
}

.todo-item{
  display: flex;
  gap: 5px;
  justify-content: space-between;
  cursor: pointer;
}

/* UTILITY */
.tick{
  text-decoration: line-through;
}